<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="HybridTest.Shared.styles.css" />
    <link rel="stylesheet" href="_content/HybridTest.Shared/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/HybridTest.Shared/css/app.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <HybridTest.Shared.Components.Routes @rendermode="InteractiveServer" />

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
