@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<p>
    This is a .NET MAUI Hybrid application with shared Blazor components.
</p>

<p>
    <a href="/counter">Go to Counter</a> | <a href="/weather">Go to Weather</a>
</p>
